<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>SigninFilter</filter-name>
        <filter-class>com.www.server.SigninFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SigninFilter</filter-name>
        <url-pattern>/main/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>com.www.server.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.www.server.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signout</servlet-name>
        <servlet-class>com.www.server.Signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XmlParser</servlet-name>
        <servlet-class>com.www.server.XmlParser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatus</servlet-name>
        <servlet-class>com.www.server.ChangeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.www.server.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>com.www.server.Edit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/webresources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signout</servlet-name>
        <url-pattern>/Signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlParser</servlet-name>
        <url-pattern>/XmlParser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatus</servlet-name>
        <url-pattern>/ChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>the main location</description>
        <param-name>mainPath</param-name>
        <param-value>C:/Users/Manos/Desktop/Login</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>wwwwww</param-value>
    </context-param>
    <context-param>
        <param-name>users_info</param-name>
        <param-value>jdbc:mysql://localhost:3306/users_info</param-value>
    </context-param>
    <context-param>
        <param-name>library</param-name>
        <param-value>C:/Users/Manos/Desktop/android.jar</param-value>
    </context-param>
    <context-param>
        <param-name>console</param-name>
        <param-value>cmd</param-value>
    </context-param>
    <context-param>
        <param-name>javac</param-name>
        <param-value>javac</param-value>
    </context-param>
    <context-param>
        <param-name>dx</param-name>
        <param-value>dx</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>http://localhost:8084/Server</param-value>
    </context-param>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
